.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 20px;
  box-shadow: 0 3px 16px rgb(0 0 0 / 20%);

  .logo {
    max-height: 40px;
  }
}
