.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  .row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;

    & > *:first-child {
      width: 200px;
    }
  }
}
